// colors
//header
$color-primary:#ffffff;
$color-primary-light2:#96eada;
$color-primary-dark:#5d6e80;
//slider
$color-secondary-light:#1dd2af;

//search block
$color-gray:#5e6b78;
$color-gray2:#8f9fae;
$color-gray3:#8a8a8a;

