.the-datepicker__container{
    left: 54px;
    width: 84%;
}
.the-datepicker__main select.the-datepicker__select{
    font-size: 1.5rem !important;
}
.the-datepicker__main .the-datepicker__body{
    font-size: 1.5rem;
}
.the-datepicker__main table.the-datepicker__calendar{
    display: table;
    border-collapse: inherit !important;
    padding: 0 1rem;
}
.the-datepicker__container .the-datepicker__main{
    margin-top: 5px;
}