.searchBtn {
  width: 10.8rem;
  height: 4.7rem;
  background: $color-secondary-light;
  border: none;
  color: $color-primary;
  font-weight: 500;
  cursor: pointer;
  &--footer {
    width: 5rem;
    height: 3.4rem;
    background: #1dd2af;
    border: none;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
  }
  @include respond(phone){
    width: 22rem;
    height: 4.7rem;
    background: #1dd2af;
    border: none;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    margin-left: 36px;
  }
  @include respond(small-phone){
    width: 26rem;
    margin-left: 39;
    margin-top: 15px;
  }
  @include respond(320){
   
    width: 26rem;
    margin-left:0;
    margin-top: 15px;
    
  }
    
}
